@use "../main";

.tasksBox {
    margin-top: 100px;
    .addTaskBtn {
        border-radius: 10px;
        position: fixed;
        right: 20px;
        bottom: 20px;
        text-transform: capitalize;
        background-color: main.$blue;
        box-shadow: 4px 4px 0px #1b6580;
        transition: transform 0.2s, box-shadow 0.2s;
    }
    .addTaskBtn:active {
        box-shadow: 0px 0px 0px main.$blue;
        transform: translateX(4px) translateY(4px);
    }
}

.singleTaskCard {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0px 0px 3px black !important;
    border-radius: 12px !important;
    position: relative;
    border-left: 8px solid;
    p {
        font-family: main.$text-primary;
    }

    .taskSubject {
        font-size: 1.2rem;
        font-weight: 600;
    }

    .taskDate {
        padding: 0px 8px;
        border-radius: 10px;
        display: inline;
    }

    .editDeleteBox {
        position: absolute;
        right: 0px;
        bottom: 0px;
        svg:hover {
            cursor: pointer;
        }
        svg:nth-child(2) {
            margin-left: 12px;
            margin-right: 5px;
            color: main.$red;
        }
    }
}

.addTaskModal {
    .addTaskBox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        background-color: white;
        border-radius: 10px;
        padding: 24px;

        .btn-container {
            text-align: center;
            .btn {
                width: 90%;
                border-radius: 10px;
                text-align: center;
                text-transform: capitalize;
            }
        }
    }

    .taskTitle, .taskDescription, .taskDate .MuiFormControl-root {
        width: 100%;
    }

    .taskDate .MuiFormControl-root {
        background-color: rgba(0, 0, 0, 0.06);
    }
}