@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

$blue: #3A98B9;
$red: #fb654e;
$light-red: #ffa07a;
$light-green: #9ad9b1;
$green: #70bc8b;
$text-primary: Roboto Slab; 

.topBar {
    background-color: $blue !important;
    padding: 10px;

    .search {
        label {
            color: white;
        }

        .MuiOutlinedInput-root{
            border-radius: 50px;
            input {
                color: white;
            }
        }

        .MuiOutlinedInput-root.Mui-focused fieldset{
            border-color: white;
        }

        .MuiOutlinedInput-notchedOutline, .MuiOutlinedInput-notchedOutline:hover {
            border-color: white ;
        }

        .MuiInputAdornment-root {
            color: white;
        }

    }
}

.topBar-container {
    justify-content: space-between;
    align-items: center;
}

.border-left-green {
    border-left-color: $green !important;
}

.border-left-red {
    border-left-color: $red !important;
}

.background-color-light-green {
    background-color: $light-green;
}

.background-color-light-red {
    background-color: $light-red;
}

.text-decoration-none {
    text-decoration: none !important;
}

.nav-bar-options {
    color: white !important;
    text-transform: capitalize !important;
    margin:0px 10px !important;
    font-weight: 500 !important;
    font-size: medium !important;
}

.text-primary {
    font-family: $text-primary !important;
}